/* Grupp 1: Alva Sundberg (h20alsun), Sara Lundequist (h22sarlu) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    width: 100%;
}

.top-nav{
    background-image: url(cover_image.jpg);
    background-blend-mode: hard-light;
    height: 90px;
    background-size:cover;
    background-color: rgb(150 43 86);
}


.main-bg-img{
    width: 100%;
    height: 50vh;
    background-image: url(test-img.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.428);
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
}

.intro-info-title{
    font-size: 2.4rem;
    font-weight: 700;
}

.test-row-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    border-radius: 10px;
}

.card-img-top{
    width: 100%;
    height: 140px;
   /* background-image: url(cover_image.jpg); */
   border-radius: 10px 10px 0 0;
   background-size: cover;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.45);
}

.card-body-style{
    background-color: #EEF8FA;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    /* font-weight: 500; */
}

.cards-main-title{
    margin: 5% 0 0 5%;
    font-size: 20px;
    font-weight: 900;
}

.card-title-style{
    font-weight: 600;
    color: white;
    padding: 20px 0px 0px 25px;
    width: 75%;
    font-size: 17px;
    
    line-height: 1.35;
}

.card:nth-child(1) .card-img-top{
    background-image: url(alejo-reinoso-clothes-unsplash.jpg);
    
}

.card:nth-child(2) .card-img-top{
    background-image: url(ella-ivanescu-factory-unsplash.jpg);
}

.card:nth-child(3) .card-img-top{
    background-image: url(dan-meyers-field-unsplash.jpg);
}

.card:nth-child(4) .card-img-top{
    background-image: url(athanasios-papazacharias-boat-unsplash.jpg);
}

.intro-info{
    color: white;
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    margin-left: 5%;
}

.nav-item{
    padding: 0 50px 5px 0;
    white-space: nowrap;
}

.nav-item:last-child{
    padding-right: 0px;
}

/*padding på menyn -- fråga mikaela*/
/*
.nav-item>.nav-link{
    padding: 0 0 2px 0;
}
*/


a:link, a:visited{
    color: black;
}

.menu-hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0);
    transition: all 0.1s;
}


.active{
    border-bottom: solid 2px black;
    font-weight: bold;
    pointer-events: none;
}


.menu-hover:hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all 0.1s;
    color: rgb(0, 0, 0, 0.5);
}

.shadow-effect{
    box-shadow: 0px 3px 3px #4242423d;
}

.main-bg-test{
    min-height: 120vh;
    background-color:white;
    margin: 0;
    padding: 0;
}

.bottom-header{
    background-color: #8FBABF;
    height: 50px ;
    width: 100%;
}

/* test */
.col{
    margin: 0;
    padding: 0;
}

.text-test{
    margin: 5%;
}

.heading{
    font-weight: 700;
    font-size:x-large;
    padding-top: 35px;
}

.heading-chart{
    margin-bottom: 30px;
}

ul{
    padding-left: 15px;
}

.navbar-container{
    padding-left: 15px;
}


.accordion-btn-style{
    width: 100%;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.accordion-body{
    background-color: white;
    padding: 15px;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
}

.navbar-toggler{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar-toggler-icon .fa{
    justify-items: center;
    align-items: center;

}

.btn-style{
    width: 270px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-style:hover{
    background-color: lightgrey;
}


.testt:hover{
    text-decoration: none;
}

.text-content{
    margin-top: 30px;
    line-height: 1.75;
} 

.icon-button {
    margin-left: 15px;
}


i{
    transform: translateY(10%);
    font-size: 25px;
    color: #745d42e1
}


.fa-arrow-right{
    transform: translateY(15%);
    font-size: 18px;
    margin-left: 10px;
}

.text-format{
    column-count: 1;
}

/* Ha margin-left för rubriken för diagram 4 eller inte? */
.chart-4-heading {
    margin-left: 12vw;
}

.accordion-body{
    overflow-wrap: break-word;
}

.chart-spacing {
    margin-bottom: 20px;
}

.fa{
    color: black;
}

.back-link{
    width: 100%;
    padding: 20px 0 20px 30px;
}


.fa-arrow-left{
    margin-right: 5px;
    font-size: 14px;
    transform: translateY(2%);
    color: black;
}

.link-text:hover {
    text-decoration: none;
    color: #8FBABF;

    .fa-arrow-left{
        color: #8FBABF;
    }
}

.bg-img-intro{
    height: 300px;
    background-image: url(alejo-reinoso-clothes-unsplash.jpg);
    background-size: cover;
}

.bg-img-intro-export{
    height: 300px;
    background-image: url(ella-ivanescu-factory-unsplash.jpg);
    background-size: cover;
}

.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8FBABF;
    color: white;
    padding-left: 50px;
}

.banner-title h1{
    font-weight: 700;
    padding-bottom:15px;
}

.source-box{
    margin: 5% 0 7% 0;
    background-color: #e4f1f2;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.source-box p{
    margin-bottom: 30px;
}

.source-box h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.card-container{
    gap: 20px 0;
}


/* Media queries */
@media screen and (max-width: 576px ){


    .text-content {
        font-size: 0.9rem;
    }

    .justify-content-center {
        justify-content: flex-start;
    }
    
    .intro-info-title{
        font-size: 2rem;
    }
    
    .top-nav{
        height: 140px;
    }
    
    .heading{
        font-size: 1.2rem;
    }

    .btn-style{
        font-size: 0.9rem;
    }

    .chart-4-heading {
        margin-left: 8vw;
    }
}


@media screen and (min-width: 576px ){


.text-content {
    font-size: 0.9rem;
}

/* .top-nav{
    height: 140px;
} */

.heading{
    font-size: 1.2rem;
    color: #483a2ed5;
}

    
.intro-info-title{
    font-size: 2rem;
}

.btn-style{
    font-size: 0.9rem;
}
    
}

@media screen and (min-width: 768px){

    .heading{
        font-size: 1.2rem ;
    }

    .intro-info-title{
        font-size: 2.2rem;
    }
    
    .intro-info-short{
        font-size: 1rem;
    }

    .text-content {
        font-size: 1rem;
    }
    
    .nav-item{
        padding: 0px 25px 5px 0;
        font-size: 0.9rem;

    } 

    .chart-4-heading {
        margin-left: 16.5vw;
    }

    }

 @media screen and (min-width: 992px){
    
.card-container{
    gap: 20px;
}
    
.card-container .card{
    flex-basis: calc(50% - 20px);
}
    .nav-item{
        padding: 0px 40px 5px 0;
        font-size: 0.9rem;

    } 

    .text-format {
        column-count: 2;
    }

    .btn-style{
        font-size: 1rem;
    }

    .test-row-cards{
        margin: 0 50px 0 50px;
    }
    
} 


