* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    width: 100%;
}

.top-nav{
    background-image: url(cover_image.jpg);
    background-blend-mode: hard-light;
    height: 160px;
    background-size:cover;
    background-color: rgb(150 43 86);
}

.title{
    color: white;
}

.subtitle{
    color: white;
}

.nav-item{
    padding: 0 50px 5px 0;
}

.nav-item:last-child{
    padding-right: 0px;
}

/*padding på menyn -- fråga mikaela*/
/*
.nav-item>.nav-link{
    padding: 0 0 2px 0;
}
*/


a:link, a:visited{
    color: black;
}

.menu-hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0);
    transition: all 0.1s;
}


.active{
    border-bottom: solid 2px black;
    font-weight: bold;
    pointer-events: none;
}


.menu-hover:hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all 0.1s;
    color: rgb(0, 0, 0, 0.5);
}

.shadow-effect{
    box-shadow: 0px 3px 3px #4242423d;
}

.main-title{
    padding: 30px 0 0 50px;
}

.main-bg-test{
    min-height: 100vh;
    background-color:#FFFAFA;
    margin: 0;
    padding: 0;
}

/* test */
.col{
    margin: 0;
    padding: 0;
}

.text-test{
    margin: 5%;
}

.title, .subtitle{
    font-weight: 700;
}

.title{
    font-size: 3rem;
}

.heading{
    font-weight: 700;
    font-size:x-large;
    margin-top: 35px;
    margin-bottom: 40px;
}

ul{
    padding-left: 15px;
}

.navbar-container{
    padding-left: 15px;
}


.accordion-btn-style{
    width: 100%;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.accordion-body{
    background-color: white;
    padding: 15px;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
}

.text-content{
    margin-top: 30px;
} 

.icon-button {
    margin-left: 15px;
}


i{
    transform: translateY(10%);
    font-size: 25px;
}

.example-graph{
    padding: 30%;
    background-color: lightgray;
}

@media screen and (max-width: 576px){

.heading{
    font-size: 1.2rem;
}

.text-content {
    font-size: 0.9rem;
}

.title{
    font-size: 2.4rem;
}

.subtitle{
    font-size: 1.4rem;
}

.top-nav{
    height: 140px;
}
    
}

@media screen and (max-width: 768px){

    .heading{
        font-size: 1.4rem ;
    }

}

@media screen and (max-width: 992px){

    .nav-item{
        padding-right: 0px;
        width: 80px;
    }
    
}