/* Grupp 1: Alva Sundberg (h20alsun), Sara Lundequist (h22sarlu) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    width: 100%;
}

.top-nav{
    background-image: url(cover_image.jpg);
    background-blend-mode: hard-light;
    height: 90px;
    background-size:cover;
    background-color: rgb(150 43 86);
}


.main-bg-img{
    width: 100%;
    height: 80vh;
    background-image: url(test-img.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.428);
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
}

.intro-info{
    color: white;
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    margin-left: 5%;
}

.intro-info-title{
    font-weight: 900;
}

.nav-item{
    padding: 0 50px 5px 0;
    white-space: nowrap;
}

.nav-item:last-child{
    padding-right: 0px;
}

/*padding på menyn -- fråga mikaela*/
/*
.nav-item>.nav-link{
    padding: 0 0 2px 0;
}
*/


a:link, a:visited{
    color: black;
}

.menu-hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0);
    transition: all 0.1s;
}


.active{
    border-bottom: solid 2px black;
    font-weight: bold;
    pointer-events: none;
}


.menu-hover:hover{
    border-bottom: solid 2px rgb(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all 0.1s;
    color: rgb(0, 0, 0, 0.5);
}

.shadow-effect{
    box-shadow: 0px 3px 3px #4242423d;
}

.main-bg-test{
    min-height: 100vh;
    background-color:#e1eeef;
    margin: 0;
    padding: 0;
}

/* test */
.col{
    margin: 0;
    padding: 0;
}

.text-test{
    margin: 5%;
}

.intro-info-title{
    font-weight: 700;
}


.intro-info-title{
    font-size: 2.4rem;
}

.heading{
    font-weight: 700;
    font-size:x-large;
    padding-top: 35px;
}

.heading-chart{
    margin-bottom: 30px;
}

ul{
    padding-left: 15px;
}

.navbar-container{
    padding-left: 15px;
}


.accordion-btn-style{
    width: 100%;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.accordion-body{
    background-color: white;
    padding: 15px;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
}

.navbar-toggler{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar-toggler-icon .fa{
    justify-items: center;
    align-items: center;

}

.btn-style{
    width: 270px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-style:hover{
    background-color: lightgrey;
}


.testt:hover{
    text-decoration: none;
}

.text-content{
    margin-top: 30px;
    line-height: 1.75;
} 

.icon-button {
    margin-left: 15px;
}


i{
    transform: translateY(10%);
    font-size: 25px;
}


.fa-arrow-right{
    transform: translateY(15%);
    font-size: 18px;
    margin-left: 10px;
}

.example-graph{
    padding: 30%;
    background-color: lightgray;
}

.text-format{
    column-count: 2;
}

/* Ha margin-left för rubriken för diagram 4 eller inte? */
.chart-4-heading {
    margin-left: 12vw;
}

canvas{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.accordion-body{
    overflow-wrap: break-word;
}

.chart-spacing {
    margin-bottom: 20px;
}

/* Media queries */
@media screen and (max-width: 576px ){


    .text-content {
        font-size: 0.9rem;
    }

    .justify-content-center {
        justify-content: flex-start;
    }
    
    .intro-info-title{
        font-size: 2rem;
    }
    
    .top-nav{
        height: 140px;
    }
    
    .heading{
        font-size: 1.2rem;
    }

    .btn-style{
        font-size: 0.9rem;
    }

    .text-format {
        column-count: 1;
    }

    .chart-4-heading {
        margin-left: 8vw;
    }
}


@media screen and (min-width: 576px ){


.text-content {
    font-size: 0.9rem;
}

/* .top-nav{
    height: 140px;
} */

.heading{
    font-size: 1.2rem;
}

    
.intro-info-title{
    font-size: 2rem;
}

.btn-style{
    font-size: 0.9rem;
}
    
}

@media screen and (min-width: 768px){

    .heading{
        font-size: 1.2rem ;
    }

    .intro-info-title{
        font-size: 2.2rem;
    }
    
    .intro-info-short{
        font-size: 1rem;
    }

    .text-content {
        font-size: 1rem;
    }
    
    .nav-item{
        padding: 0px 25px 5px 0;
        font-size: 0.9rem;

    } 

    .chart-4-heading {
        margin-left: 16.5vw;
    }

    }

 @media screen and (min-width: 992px){

    .nav-item{
        padding: 0px 40px 5px 0;
        font-size: 0.9rem;

    } 

    .text-format {
        column-count: 1;
    }

    .btn-style{
        font-size: 1rem;
    }
} 


